<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="net.tracksbox.plugin.echo"
    version="0.1.0">
    <name>Echo</name>
    <description>Echo Device Plugin</description>
    <license>MIT</license>
    <keywords>cordova,echo</keywords>
    <repo>https://github.com/bkomac/antPlusCordovaPlugin.git</repo>
   

    <asset src="www/EchoPlugin.js" target="plugins/EchoPlugin.js" />
    <engines>
        <engine name="cordova" version=">=2.7.0" />
    </engines>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Echo" >
                <param name="android-package" value="net.tracksbox.plugin.echo.Echo"/>
            </feature>
        </config-file>

        <source-file src="src/Echo.java" target-dir="src/net/tracksbox/plugin/echo" />
    </platform>

</plugin>
